<form #myForm>
<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <mat-card>
      <mat-card-header>
        <h3>Reset Password</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="w-100">
          <mat-label>Old Password</mat-label>
          <input matInput [(ngModel)]="user.oldPassword" type="password" name="oldpassword" #oldpassword="ngModel" required />
          @if (oldpassword.errors && oldpassword.touched &&!oldpassword.valid) {
            @if(oldpassword.errors["required"]){
              <span class="error-span">enter the oldpassword</span>
            }
          }
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="user.password" type="password" name="password" #password="ngModel" required />
          @if (password.errors&& password.touched &&!password.valid) {
            @if(password.errors["required"]){
              <span class="error-span">enter the password</span>
            }
          }
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions  class="w-100">
        <div class="row w-100">
          <div class="col-md-6">
            <button type="submit" (click)="reset()" class=" w-100" mat-flat-button color="primary">Reset</button>
          </div>
          <div class="col-md-6 ">
            <a routerLink="/" class=" w-100" mat-flat-button color="accent">Back to Home</a>
          </div>
        </div>

      </mat-card-actions>
    </mat-card>

  </div>
</div>
</form>
