<form #myForm class="mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <mat-card>
        <mat-card-header>
          <h1>Add New Password</h1>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field  class="w-100">
            <mat-label>Otp Text</mat-label>
            <input  matInput name="otp" [(ngModel)]="user.otp" required #otp="ngModel">
            @if(otp.touched && !otp.valid && otp.errors){
              @if(otp.errors["required"]){
                <span class="error-span">otp is required</span>
              }
            }
          </mat-form-field>
          <mat-form-field  class="w-100">
            <mat-label>New Password</mat-label>
            <input type="password" matInput name="password" [(ngModel)]="user.password" required #password="ngModel">
            @if(password.touched && !password.valid && password.errors){
              @if(password.errors["required"]){
                <span class="error-span">password is required</span>
              }
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions  class="w-100">
          <div class="row w-100">
            <div class="col-md-6">
              <button type="submit" (click)="Update()" class=" w-100" mat-flat-button color="primary">Update</button>
            </div>
            <div class="col-md-6 ">
              <a routerLink="/Login" class=" w-100" mat-flat-button color="accent">Back to Login</a>
            </div>
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
